<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArrayFun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C276F20B1CD3C9B2005011A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C276F2241CD3C9B2005011A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C276F22F1CD3C9B2005011A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
