<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperCool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2E4DBE41CD074CB0081F4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E4DBFD1CD074CB0081F4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E4DC081CD074CB0081F4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
