<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>L7Weenie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C253402B1CE7FA36008D82CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C25340441CE7FA36008D82CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C253404F1CE7FA36008D82CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
